.bookContainer{
    height:80vh;
    width:95%;
    margin:auto;
   
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.bookContainer aside{
    width:42.5%;
    background:#f8eadd;
    border-radius:20px;
    boxShadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding:20px 30px;
flex-grow:1;
margin:20px 10px;
}

.bookContainer aside p{
    line-height:21px;
}
.appBar{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items:center;
    min-height:5vh;
    margin-top:10px;
    margin-bottom:10px;
}

.center{
    text-align:center;
    font-size:36px;
    font-weight:300;
    margin-bottom:4px;
}

.small{
    font-size:16px;
    text-align:center;
display:block;
margin-bottom:40px;
}

.saveButton{
    padding: 10px 30px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid #000;
    margin-right: 20px;
    cursor:pointer; 
}

.saveButton:hover{
    background:#000;
    color:#fff;
}

.floating-toolbar{
    background:#ffd9d9;
}

.floating-toolbar-close{
    background:#ffd9d9;

}

.modal-content-reed{
    background:#daa4a4;

}

.btn-submit-reed{
    background:#000;
}
.hover-card{
    background:#f2dfce;

}