
body {
  margin: 0;
     font-family: "Lora", serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f2dfce;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 h2 h3 h4 p span li a {
  font-family: "Lora", serif;

}